@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #ab052d;
  --dark-900: #394854;
  --dark-800: #435465;
  --dark-700: #516374;
  --dark-600: #607284;
  --light-surface: #f8f8f9;
  --ease-custom: cubic-bezier(0.25, 0.74, 0.22, 0.99);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Suisse Intl", Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: var(--dark-900);
  font-size: 14px;
  line-height: 1.45;
}

/* ...existing code... */